@media screen and (max-width:768px){
	.cuadroazul-bl{
	margin-top: 30px;
	width: 90%;
	}
.btn-lateral{
	display: none;
}
.div1-home{
	height: 380px;
}
.imgchava{
	right: 0;
}
.cuadroazul{
	   border-radius: 10px 10px 0px 0px;
    position: absolute;
    background: #005d8f;
    height: 31%;
    width: 33%;
    top: 40%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}
.imgicon{
	width: 30%;
}
}

@media (min-width: 1024px) and (max-width: 1920px) {
	.cuadroazul{
	   border-radius: 10px 10px 0px 0px;
    position: absolute;
    background: #005d8f;
    height: 31%;
    width: 35%;
    top: 40%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}
.mas-calificadas .div-tx{
	
	font-family: 'Prosto One', cursive;
	color:#fff;
	font-size: 100%;
	border: 1px solid #fff;
	padding: 5px 40px;
	width: 30%;
}
.div-txt{
		line-height: 48px;
		opacity: 1;
		animation:mymove 2s ;
		animation-fill-mode: forwards;
	}

	.div-1{
		margin-top: 15%;
		font-family: 'Montserrat', sans-serif;
		color: #fff;	
		font-size: 48px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-2{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 48px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-3{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 28px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-4{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 18px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-imgd{
		animation:menosmove 2s ;
		animation-fill-mode: forwards;
	}
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	
	.tab-content{
	padding-top: 30px; 
}
.titempresa{
	    font-size: 4vh;
}


 }
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 1023px) { 
.mas-calificadas .div-tx{
	
	font-family: 'Prosto One', cursive;
	color:#fff;
	font-size: 100%;
	border: 1px solid #fff;
	padding: 5px 40px;
	width: 80%;
}
.service-title h5 {
    font-size: 16px;
}
.f-1{
	height: auto !important;
}
.div-txt{
		line-height: 48px;
		opacity: 1;
		animation:mymove 2s ;
		animation-fill-mode: forwards;
	}

	.div-1{
		margin-top: 15%;
		font-family: 'Montserrat', sans-serif;
		color: #fff;	
		font-size: 48px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-2{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 48px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-3{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 28px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-4{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 18px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-imgd{
		display: none;
	}
	
	.tab-content{
	padding-top: 30px; 
}
.titempresa{
	    font-size: 2vh;
}

 }
 
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 580px) { 
	
.triangulo{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 20%;
    height: 20%;
    transform: translateX(-50%) rotate(90deg);
    border-left: 1.7em solid #005d8f;
     border-top: .7em solid transparent;
     border-bottom: .7em solid transparent; 
}
.mas-calificadas .div-tx{
	
	font-family: 'Prosto One', cursive;
	color:#fff;
	font-size: 75%;
	border: 1px solid #fff;
	padding: 5px 40px;
	width: 100%;
}
.service-title h5 {
    font-size: 12px;
}
.f-1{
	height: auto !important;
}
.div-txt{

		line-height: 30px;
		opacity: 1;
		animation:mymove 2s ;
		animation-fill-mode: forwards;
	}

	.div-1{
		margin-top: 15%;
		font-family: 'Montserrat', sans-serif;
		color: #fff;	
		font-size: 20px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-2{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 20px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-3{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 18px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-4{
		font-family: 'Montserrat', sans-serif;
		color: #f7ac43;
		font-size: 10px;
		text-shadow: 2px 2px #1e1e1e;
		font-weight: 700;
	}
	.div-imgd{
		display: none;
	}
	
	.tab-content{
	padding-top: 30px; 
}
.titempresa{
	font-size: 100%;
}


 }
 /* Smartphones (portrait and landscape) ———– */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
	font-size: 2em;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
    text-align: center;
    padding: 14px 0px;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.3em;
	}
	.textnumcalif{
	position: absolute;
	    top: 26px;
	    left: 207px;
	    width: 229px;
	    text-align: center;
	    font-size: 1.7rem;
	}
	.c-ran{
	width: 90%;
    margin-left: 6%;
    color: #fff;
    font-size: 0.8em;
    padding-left: 2px;
}	
}

/* Smartphones (landscape) ———– */
@media only screen
and (min-width : 321px) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
	font-size: 2em;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
    text-align: center;
    padding: 14px 0px;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.3em;
	}
	.textnumcalif{
		 position: absolute;
    top: 11%;
    left: 18%;
    width: 70%;
    text-align: center;
    font-size: 1.2em;

	}
	.c-ran{
	width: 90%;
    margin-left: 6%;
    color: #fff;
    font-size: 1em;
    padding-left: 2px;
}	
}

/* Smartphones (portrait) ———– */
@media only screen
and (max-width : 320px) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
	font-size: 4.5vh;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.3em;
	}
	.textnumcalif{
	 position: absolute;
    top: 11%;
    left: 18%;
    width: 80%;
    text-align: center;
    font-size: 1.1em;
	}
}

/* iPads (portrait and landscape) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
		    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
    padding: 24px 0px;
		}
		.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.3em;
	}
	.textnumcalif{
	position: absolute;
    top: 294px;
    left: 91px;
    width: 230px;
	}
}

/* iPads (landscape) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
	    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
    padding: 24px 0px;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.3em;
	}
	.textnumcalif{
	position: absolute;
    top: 30%;
    left: 24%;
    width: 72%;
    text-align: center;
    font-size: 3em;
	}
	.c-ran{
	width: 90%;
    margin-left: 6%;
    color: #fff;
    font-size: 2.7em;
   
}
.c-ranx{
	text-transform: uppercase;
	text-align: center;
	width: 90%;
    margin-left: 6%;
    color: #fff;
    font-size: 2.2em;
}	
}

/* iPads (portrait) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.div-invisible-sm{
			display: none;
	}
	.div-visible-sm{
		display: block;
	}
	.p-sm .titulos{
	font-size: 4.5vh;
    font-weight: 700;
    font-family: 'Prosto One',cursive;
    color: #005d8f;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 1.5em;
	}
	.textnumcalif{
	    position: absolute;
    top: 11%;
    left: 18%;
    width: 80%;
    text-align: center;
    font-size: 2.6em;
	}

}

/* Desktops and laptops ———– */
@media only screen
and (min-width : 1224px) {
	.div-invisible-sm{
			display: block;
	}
	.div-visible-sm{
		display: none;
	}
	.actulizada{
		position: relative;
    top: 87px;
    left: 332px;
    font-size: 22px;
	}
	.tb-ranking{
		position: absolute;
    top: 139px;
    width: 63%;
    left: 275px;
    font-size: 18px;
	}
	.tb-ranking .col-6{
		padding:0px 2px;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 2em;
	}
	.textnumcalif{
	position: absolute;
    top: 294px;
    left: 91px;
    width: 230px;
    text-align: left;
    font-size: 18px;
	}
}

/* Large screens ———– */
@media only screen
and (min-width : 1824px) {
	.div-invisible-sm{
			display: block;
	}
	.div-visible-sm{
		display: none;
	}
	.actulizada{
		position: relative;
    top: 87px;
    left: 332px;
    font-size: 22px;
	}
	.tb-ranking{
		    position: absolute;
    top: 139px;
    width: 63%;
    left: 275px;
    font-size: 18px;
	}
	.tb-ranking .col-6{
		padding:10px 10px;
	}
	.titulos{
		font-size: 4.5vh;
	}
	.subtitulos{
		font-size: 3.5vh;
	}
	.tutilos-blanco{
	font-size: 2em;
	}
	{
	.textnumcalif{
	position: absolute;
    top: 294px;
    left: 91px;
    width: 230px;
    text-align: left;
    font-size: 18px;
	}
}

